<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/Source/View/Css/Home.css">
    <title>Admin Login</title> 
</head>
<body>
    <div id="id02" class="model" >
        
    <form class="modal-content animate" action="" method="post" style="border-color: rgb(188, 223, 236);">
  
        <div class="container">
            <h3 style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;"><br>Welcome Back, Please LogIn!</h3><br>
            
            
          <div class="container" style="background-color:#f1f1f1;height: fit-content;width: 100%;font-family: cursive;">
              <input type="email" placeholder="Enter Email Id" name="email" id="in" required>
      
            <input type="password" placeholder="Enter Password" name="password" id="in" required>
              
            <button type="submit" id="but">Login</button><br>
          </div>
        </form>
      </div>


</body>
</html>



