<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrklap.min.js"></script>
    <script src="/Source/View/JavaScript/Features.js"></script>
    <link rel="stylesheet" href="/Source/View/Css/Features.css">
    <title>Features</title>
</head>
<body> <br><br>
 <div class="container">
    <div class="col-sm-6">
      <div class="itemm">
        <img src="/Source/View/Images/Hostel-AdditionalFeatures/a8.jpeg"  alt="Avatar" class="image" style="height:300px;width:500px;">
       
        <div class="overlay">
          <div class="text">
              <div  style="font-family:Georgia, 'Times New Roman', Times, serif;color:skyblue;font-size: 20px;"><strong>Book Your Room</strong></div><br>
              <P style="color: whitesmoke;">It consist of Million little memories</P>
              <a href="/Source/View/Html/Registration.html">  <button type="button"  class="btn btn-info btn-active btn-sm" style="padding:3px;height:50px;width:300px;font-size: 15px;"><center>REGISTER FREE! Book Yours</center> </button></a>
            </div>
          </div>
        </div></div>
    
    <div class="col-sm-6"><br><br>
      <h3 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Hostel Room</h3><br>
      <p id="j">&emsp;&emsp;&emsp;A hostel is a form of low-cost, short-term shared sociable lodging where guests can rent a bed, usually a bunk bed in a dormitory, with shared use of a lounge and sometimes a kitchen. Rooms can be mixed or single-sex and have private or shared bathrooms.</p>
    </div>
    </div><br><br><br><br><br>
    

    <div class="container">
          
        <div class="col-sm-6"><br><br>
          <h3 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Hostel Food</h3><br>
          <p id="j">&emsp;&emsp;&emsp;Things That You Can Cook In Hostels, Apart From Instant Noodles

            Living in a hostel means limited options of good food. The canteen or mess food is usually not liked by many. If you plan to go out and treat yourself with a nice scrumptious meal</p>
        </div>
        <div class="col-sm-6">
            <div class="itemm">
              <img src="/Source/View/Images/Hostel-Foods/food13.jpg"  alt="Avatar" class="image" style="height:300px;width:500px;">
             
              <div class="overlay">
                <div class="text">
                    <div  style="font-family:Georgia, 'Times New Roman', Times, serif;color:skyblue;font-size: 20px;"><strong>Book Your Room</strong></div><br>
                    <P style="color: whitesmoke;">It consist of Million little memories</P>
                    <a href="/Source/View/Html/Registration.html">  <button type="button"  class="btn btn-info btn-active btn-sm" style="padding:3px;height:50px;width:300px;font-size: 15px;"><center>REGISTER FREE! Book Yours</center> </button></a>
                  </div>
                </div>
              </div></div>
        </div><br><br><br><br><br>
    
        <div class="container">
            <div class="col-sm-6">
              <div class="itemm">
                <img src="/Source/View/Images/Hostel-Library/lib8.jpg"  alt="Avatar" class="image" style="height:300px;width:500px;">
               
                <div class="overlay">
                  <div class="text">
                      <div  style="font-family:Georgia, 'Times New Roman', Times, serif;color:skyblue;font-size: 20px;"><strong>Book Your Room</strong></div><br>
                      <P style="color: whitesmoke;">It consist of Million little memories</P>
                      <a href="/Source/View/Html/Registration.html">  <button type="button"  class="btn btn-info btn-active btn-sm" style="padding:3px;height:50px;width:300px;font-size: 15px;"><center>REGISTER FREE! Book Yours</center> </button></a>
                    </div>
                  </div>
                </div></div>
            
            <div class="col-sm-6"><br><br>
              <h3 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Hostel Library</h3><br>
              <p id="j">&emsp;&emsp;&emsp;Hostel libraries come in all shapes and sizes. Sometimes, the bookshelves line an entire wall or room, and other times, the hostel may just keep a small shelf of books in circulations for guests. Most operate as a book exchange </p>
            </div>
            </div><br><br><br><br><br>
           

    <div class="container">
          
        <div class="col-sm-6"><br><br>
          <h3 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Hostel Gym</h3><br>
          <p id="j">&emsp;&emsp;&emsp;
            Image result for about hostel gym
            Maintaining a fitness routine can be difficult whilst travelling. Fortunately; there are hostels that contain gyms/exercise equipment where you can be active and work out.</p>
        </div>
        <div class="col-sm-6">
            <div class="itemm">
              <img src="/Source/View/Images/Hostel-Gym/gym2.jpg"  alt="Avatar" class="image" style="height:300px;width:500px;">
             
              <div class="overlay">
                <div class="text">
                    <div  style="font-family:Georgia, 'Times New Roman', Times, serif;color:skyblue;font-size: 20px;"><strong>Book Your Room</strong></div><br>
                    <P style="color: whitesmoke;">It consist of Million little memories</P>
                    <a href="/Source/View/Html/Registration.html">  <button type="button"  class="btn btn-info btn-active btn-sm" style="padding:3px;height:50px;width:300px;font-size: 15px;"><center>REGISTER FREE! Book Yours</center> </button></a>
                  </div>
                </div>
              </div></div>
        </div><br><br><br><br><br> 
        
</body>
</html>