<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/Source/View/Css/Home.css">
  <title>Hostel-Management</title>
</head>
<body>
  <nav class="navbar navbar-expand-sm fixed-top" id="a">
    <div class="container">
      <a class="navbar-brand" href="#" id="b">Hostel-Management</a>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
      <button id="c"><a href="#"  onclick="document.getElementById('id01').style.display='block'"> <i class="fa fa-user" id="d"></i></a></button>
      <div class="dropdown">
        <button id="c" type="button" data-toggle="dropdown" ><i class="fa fa-list" id="d"></i></button>
        <ul class="dropdown-menu" style="background-color: rgba(112, 128, 144, 0.329);width: 250px;color: whitesmoke;"><br>
          <li><a href="/Source/View/Html/Updation.html" style="text-decoration: none ;color: whitesmoke;" >&emsp;Update Your Profile</a></li><br>
          <li><a href="/Source/View/Html/Admin.html" style="text-decoration: none ;color: whitesmoke;" >&emsp;Admin LogIn</a></li><br>
          <li><a href="/Source/View/Html/Features.html" style="text-decoration: none ;color: whitesmoke;" >&emsp;Hostel Features</a></li><br>
        </ul>
      </div>
    </div>
  </nav>
  <div>
  <img src="/Source/View/Images/Hostel-AdditionalFeatures/a10.jpeg" style="width: 100%;height: 750px;" alt="Hostel-Management Home">
  <div id="e">
    <h1>Here's To The <strong id="f">NIGHTS</strong> that Turned Into <strong id="f">MORNINGS</strong> With The <strong id="f">FRIENDS</strong> That Turned Into <strong id="f">FAMILY</strong></h1><br>
    <button type="button" class="btn" id="g"><a href="/Source/View/Html/Registration.html" id="g1"><h1>Register Here</h1></a></button>
  </div><br><br><br><br>
  </div>
  <div id="j">
    <h1 id="h">Important information regarding COVID-19</h1><br>
    <p id="i">We take the health and safety of our community seriously. All hostels are required to follow their government’s guidelines and may be removed from our site if they don’t. Big dorm rooms will have fewer backpackers and all social distancing and cleaning rules apply.</p>
  </div><br><br><br><br>
  <div id="j">
      <h1 id="h">Meet he World!</h1>
    <p id="i">Inspiration and advice to help you Meet The World, Stay in the heart of the action and discover a world beyond the tourist brochure</p><br>
    <div class="row">
      <div class="col-sm-8"><img src="/Source/View/Images/Hostel-AdditionalFeatures/frnd2.jpg" style="width:825px;height: 350px;" alt="Hostel-Management1"><div id="l" style="left: 2%;width:825px;"><h3 style="color: rgb(54, 54, 54);padding-top: 20px;">Hostel Friends</h3><p>hostel life is a great event that teaches us about the difficulties of Life</p></div></div>
      <div class="col-sm-4"><img src="/Source/View/Images/Hostel-AdditionalFeatures/feature1.jpg" style="width:415px;height: 350px;"alt="Hostel-Management1"><div id="l" style="width:415px;"><h3 style="color: rgb(54, 54, 54);padding-top: 20px;">Hostel Rooms</h3><p>It consist of Million little memories</p></div></div>
    </div>
    <div class="row">
      <div class="col-sm-4"><img src="/Source/View/Images/Hostel-Library/lib8.jpg" style="margin-top:5px;width:410px;height: 350px;" alt="Hostel-Management1"><div id="l" style="width:410px;margin-top:5px;"><h3 style="color: rgb(54, 54, 54);padding-top: 20px;">Hostel Library</h3><p>When in doubt Go to the Library.Read Books, Change the Life</p></div></div>
      <div class="col-sm-6"><img src="/Source/View/Images/Hostel-AdditionalFeatures/room4.jpg" style="margin-top:5px;width:620px;height: 350px;" alt="Hostel-Management1"><div id="l" style="left: 2.5%;width:620px;margin-top:5px;"><h3 style="color: rgb(54, 54, 54);padding-top: 20px;">Hostel Hall</h3><p>Wake Up Every Morning with the thought that something Wonderful</p></div></div>
      <div class="col-sm-2"><img src="/Source/View/Images/Hostel-AdditionalFeatures/feature2.jpg" style="margin-top:5px;width:210px;height: 350px;" alt="Hostel-Management1"><div id="l" style="left: 7%;width:210px;margin-top:5px;"><h3 style="color: rgb(54, 54, 54);padding-top: 20px;">Hostel Steps</h3><p>hostel life is an emotion combined with many emotion</p></div></div>
    </div>
    <div class="row">
      <div class="col-sm-4"><img src="/Source/View/Images/Hostel-Beds/bed14.jpg" style="margin-top:5px;width:410px;height: 350px;"alt="Hostel-Management1"><div id="l" style="width:410px;margin-top:5px;"><h3 style="color: rgb(54, 54, 54);padding-top: 20px;">Hostel Beds</h3><p>hostel Beds too have a HEART</p></div></div>
      <div class="col-sm-8"><img src="/Source/View/Images/Hostel-Library/lib4.jpg" style="margin-top:5px;width:835px;height: 350px;" alt="Hostel-Management1"><div id="l" style="left: 2%;width:835px;margin-top:5px;"><h3 style="color: rgb(54, 54, 54);padding-top: 20px;">Hostel Life</h3><p>hostel life is our best life which change our life Style</p></div></div>
    </div>
  </div><br><br><br>
  <div id="m"><br><br>
    <div id="j">
      <h1 id="h">About Us</h1><br>
      <p id="i">Hostels work sort of like hotels, but with a few differences. Just like with a hotel, it’s best to make a reservation beforehand, though many hostels keep a few beds open each night for drop-ins. Unlike hotels, many hostels have curfews; if you arrive after curfew, you will be locked out for the night. This is done as a common courtesy to other guests and to the staff. Hostels keep prices low by using a shared room instead of individual, private ones, and only providing the most basic amenities.</p>
      <br><br>
    </div>
  </div><br><br><br>
 <center><hr style="height:2px;border-width:0;color:rgb(182, 182, 182);background-color:gray;width: 1200px;"></center>
  <br><br><br>
  <div class="container">
    <div class="row" style="background-color: white;font-family:'Times New Roman', Times, serif;">
   
     <div class="col-sm-6">
       <h3 style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;color: slategrey;">Contact Us</h3>
       <h6 style="color: grey;text-align:left;"> <i class="fa fa-address-book-o" ></i>&emsp;TamilNadu,India</h6>
         <h6 style="color: grey;text-align: left;"><i class="fa fa-phone" ></i>&emsp;+91 98687576323 | +91 9486896690</h6>
           <h6 style="color: grey;text-align:left;"><i class="fa fa-envelope-o"></i>&emsp;hostelmanagement@gmail.com</h6>
           <h6 style="color: grey;text-align:left;"><i class="fa fa-globe"></i>&emsp;www.hostelmanagement.com</h6>
     </div>
     <div class="col-sm-6">
     <br><br><br>
   <h6 style="color: grey;text-align: right;left:20px;"> hostelmanagement.com, This website is strictly for Hostel and stay purpose only and not a dating website..</h6> 
   <h6 style="color:grey;text-align: right;">Copyright © 2021 Hostel Service. All rights reserved.</h6> <br>
       </div>
     </div>
</div>

<div id="id01" class="modal">
  
  <form class="modal-content animate" action="" method="post">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal"><br>&times;</span>
    </div>

    <div class="container">
      <h3 style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;"><br>Welcome Back, Please LogIn!</h3><br>
      
      
    <div class="container" style="background-color:#f1f1f1;height: fit-content;width: 100%;font-family: cursive;">
        <input type="email" placeholder="Enter Email Id" name="email" id="in" required>

      <input type="password" placeholder="Enter Password" name="password" id="in" required>
        
      <button type="submit" id="but">Login</button><br>
      <label>
        <span class="psw" >&nbsp;&nbsp;Dont't Have an Account Yet?&nbsp;&nbsp;<a href="/Source/View/Html/Registration.html">Register Here</a></span><br>
      </label>

      <span class="psw">Forgot <a href="/Source/View/Html/Password.html">Password?</a></span><br>
    </div>
  </form>
</div>
</body>
</html>